<div class="menu">
	{{CurrentElement}}, {{params.elt}}, <button>Randomize</button><button>Serb-Rus</button><button>Reset</button>
</div>
<div class="card-container">
	<div class="card-body">
		<button class="move-words action-next" direction="1" el="CurrentElement"></button>
		<button class="move-words action-back" direction="-1" el="CurrentElement"></button>
		<button class="action-done">done</button>
		<div class="card-word" draw-word words="words" el="CurrentElement" dictionary="dictionary"></div>
	</div>

</div>


